In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame()

In [26]:
df = df.append({'num_nodes': 256, "num_params": "2.5B", "average_throughput": 1075.22, "sample_time_avg": 0.0009318}, ignore_index = True)

In [27]:
df

    average_throughput  num_nodes num_params  sample_time_avg
0               42.570        1.0       250M         0.023490
1               80.081        1.0        25M         0.012490
2              158.595        4.0       250M         0.006305
3              305.066        8.0       250M         0.003278
4              576.249        8.0        25M         0.001735
5              210.943       32.0       2.5B         0.004741
6              727.133      128.0       2.5B         0.001375
7             3226.762      128.0        25M         0.000310
8             2050.490      128.0       250M         0.000487
9             2416.772      256.0       250M         0.000416
10            3371.091      256.0        25M         0.000298
11            1075.220      256.0       2.5B         0.000932

In [28]:
df[df['num_params'] == "250M"]

   average_throughput  num_nodes num_params  sample_time_avg
0              42.570        1.0       250M         0.023490
2             158.595        4.0       250M         0.006305
3             305.066        8.0       250M         0.003278
8            2050.490      128.0       250M         0.000487
9            2416.772      256.0       250M         0.000416